html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;

}

body {
    line-height: 1;
    height: 100%;
}


main {
    display: block;
    width: 80%;
    margin: 1em auto 0;
}

textarea, input, button {
    font: normal 24px/28px monospace;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: .25em;
    margin: 0 auto 1em;
}

input[type="number"] {
    display: block;
    text-align: center;
    width: 3em;
}

textarea {
    width: 100%;
    resize: vertical;
    height: 8em;
}

input[type="text"] {
    background: #000;
    border-color: #000;
    color: #090;
    width: calc(100% - 60px);
    float: left;
    border-right: none;
}

button {
    background: #ccc;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    width: 60px;
    overflow: auto;
    border-color: #000;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.prompt {
    font: normal 24px/28px sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em .25em;
    text-align: center;
}